<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
</head>
<body class="register">
    <div class="container">
        <div class="row">
            <h1>
                <a class="avatar" href="/"></a>
            </h1>
            
            <div id="errorMesg" style="display:none;" class="alert alert-danger col-sm-4 col-sm-offset-4">
             
            </div>
            
            <form id="register-from" class="col-sm-4 col-sm-offset-4">
            
                <div class="form-group">
                    <label for="username">用户名：</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="form-group">
                     <label for="password">密码：</label>
                     <input type="password" class="form-control" id="password" name="password">
                 </div>
            
                
            
                <button type="submit" class="btn btn-primary pull-right">注册</button>
            </form>
            
        </div> 
    </div>
   
    <script src="/public/common/admin-lib.js"></script>
    <script data-main="register/register" src="/public/common/main.js"></script>
</body>
</html>